@font-face {
    font-family: 'Kanit';
    src: url('../assets/fonts/Kanit-Black.ttf') format('woff'),
        url('../assets/fonts/Kanit-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Kanit';
    src: url('../assets/fonts/Kanit-Bold.woff') format('woff'),
        url('../assets/fonts/Kanit-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Kanit';
    src: url('../assets/fonts/Kanit-BlackItalic.woff') format('woff'),
        url('../assets/fonts/Kanit-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Kanit';
    src: url('../assets/fonts/Kanit-ExtraBoldItalic.woff') format('woff'),
        url('../assets/fonts/Kanit-ExtraBoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Kanit';
    src: url('../assets/fonts/Kanit-ExtraLight.woff') format('woff'),
        url('../assets/fonts/Kanit-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Kanit';
    src: url('../assets/fonts/Kanit-ExtraLightItalic.woff') format('woff'),
        url('../assets/fonts/Kanit-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Kanit';
    src: url('../assets/fonts/Kanit-Italic.woff') format('woff'),
        url('../assets/fonts/Kanit-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Kanit';
    src: url('../assets/fonts/Kanit-BoldItalic.woff') format('woff'),
        url('../assets/fonts/Kanit-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Kanit';
    src: url('../assets/fonts/Kanit-ExtraBold.woff') format('woff'),
        url('../assets/fonts/Kanit-ExtraBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Kanit';
    src: url('../assets/fonts/Kanit-Light.woff') format('woff'),
        url('../assets/fonts/Kanit-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Kanit';
    src: url('../assets/fonts/Kanit-SemiBold.woff') format('woff'),
        url('../assets/fonts/Kanit-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Kanit';
    src: url('../assets/fonts/Kanit-MediumItalic.woff') format('woff'),
        url('../assets/fonts/Kanit-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Kanit';
    src: url('../assets/fonts/Kanit-Medium.woff') format('woff'),
        url('../assets/fonts/Kanit-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Kanit';
    src: url('../assets/fonts/Kanit-Regular.woff') format('woff'),
        url('../assets/fonts/Kanit-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Kanit';
    src: url('../assets/fonts/Kanit-LightItalic.woff') format('woff'),
        url('../assets/fonts/Kanit-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Kanit';
    src: url('../assets/fonts/Kanit-ThinItalic.woff') format('woff'),
        url('../assets/fonts/Kanit-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Kanit';
    src: url('../assets/fonts/Kanit-Thin.woff') format('woff'),
        url('../assets/fonts/Kanit-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Kanit';
    src: url('../assets/fonts/Kanit-SemiBoldItalic.woff') format('woff'),
        url('../assets/fonts/Kanit-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

